/*---------------------------
GLOBAL/GENERIC STYLING STARTS
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Set background color and Font-Family*/
body {
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
}
/*-------------------------
GLOBAL/GENERIC STYLING ENDS
---------------------------*/

/*-------------------
HEADER STYLING BEGINS
-------------------*/
/*Header global styling*/
header {
  padding: 10px 5px 10px 0;
  background-color: rgb(40, 45, 45);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
}

/*Header title styling*/
header h1 {
  background-color: rgb(114, 219, 219);
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

/*Header nav button styling*/
header nav {
  margin: 7px 50px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header a {
  padding: 10px 15px;
  font-size: 1.55vw;
  text-decoration: none;
  color: rgb(114, 219, 219);
}
/*-----------------
HEADER STYLING ENDS
-----------------*/

/*-----------------
HERO STYLING BEGINS
-----------------*/
/*Hero image styling*/
.hero {
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 0;
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
}

/*Hero subtitle styling*/
.hero h2 {
  background-color: rgb(114, 219, 219);
  font-size: 30px;
  height: 35px;
  margin-left: 550px;
  margin-top: 95px;
}
/*-----------------
HERO STYLING ENDS
-----------------*/
