/*---------------------------
GLOBAL/GENERIC STYLING STARTS
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Set background color and Font-Family*/
body {
  background-color: azure;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/*-------------------------
GLOBAL/GENERIC STYLING ENDS
---------------------------*/

/*-------------------
HEADER STYLING BEGINS
-------------------*/
/*Header global styling*/
header {
  padding: 10px 5px 10px 0;
  background-color: rgb(40, 45, 45);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
}

/*Header title styling*/
header h1 {
  background-color: rgb(114, 219, 219);
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

/*Header nav button styling*/
header nav {
  margin: 7px 50px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header a {
  width: 100%;
  margin: 2px 20px 2px 20px;
  padding-bottom: 2px;
  font-size: 1.65vw;
  text-decoration: none;
  color: rgb(114, 219, 219);
  border-bottom: 3px solid rgb(114, 219, 219);
}
/*-----------------
HEADER STYLING ENDS
-----------------*/

/*-----------------
HERO STYLING BEGINS
-----------------*/
/*Hero image styling*/
.hero {
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 0;
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
}

/*Hero subtitle styling*/
.hero h2 {
  background-color: rgb(114, 219, 219);
  justify-content: end;
  font-size: 30px;
  height: 35px;
  margin-left: 1060px;
  margin-top: 95px;
}
/*-----------------
HERO STYLING ENDS
-----------------*/
/*-------------------------
MAIN SECTION STYLING STARTS
-------------------------*/
.content {
  color: rgb(55, 54, 105);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 45px;
}

/*---------------------
ABOUT ME SECTION STARTS
---------------------*/

.about-me {
  display: flex;
  margin-bottom: 20px;
}

.about-me h2 {
  text-align: right;
  margin-right: 5px;
  margin-left: 100px;
}
.about-me p {
  text-align: left;
  margin-left: 10px;
  border-left: 3px solid rgb(55, 54, 105);
  padding-left: 20px;
  margin-right: 50px;
}
/*-------------------
ABOUT ME SECTION ENDS
-------------------*/
/*-----------------
WORK SECTION STYLING
------------------*/
/*Work section title*/
.work {
  display: flex;
  margin-bottom: 20px;
}

.work h2 {
  text-align: right;
  margin-right: 5px;
  margin-left: 109px;
}

/*card position from work title*/
.cards {
  margin-left: 10px;
  border-left: 3px solid rgb(55, 54, 105);
  padding-left: 20px;
}

/*large card global styling*/
.large-card {
  width: 1133px;
  border: 4px solid rgb(114, 219, 219);
  font-size: 22px;
  margin-bottom: 15px;
  background-image: url(/assets/images/surfreport.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
}

/*large card text styling*/
.large-card span,
.large-card h3 {
  background-color: rgb(114, 219, 219);
  color: rgb(55, 54, 105);
  text-align: center;
  width: 160px;
}

.large-card span {
  margin-top: 415px;
  font-size: 25px;
  font-weight: bold;
}

.large-card h3 {
  font-size: 15px;
  font-weight: normal;
}

/*small card global positioning*/
.small-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/*small card global text styling*/
.LED-wall,
.calculator,
.pastel-puzzels,
.run-buddy {
  width: 49%;
  border: 4px solid rgb(114, 219, 219);
  font-size: 22px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.LED-wall span,
.calculator span,
.pastel-puzzels span,
.run-buddy span {
  margin-top: 115px;
  font-size: 25px;
  font-weight: bold;
}

.LED-wall h3,
.calculator h3,
.pastel-puzzels h3,
.run-buddy h3 {
  font-size: 15px;
  font-weight: normal;
}

.LED-wall span,
.LED-wall h3,
.calculator span,
.calculator h3,
.pastel-puzzels span,
.pastel-puzzels h3,
.run-buddy span,
.run-buddy h3 {
  background-color: rgb(114, 219, 219);
  color: rgb(55, 54, 105);
  justify-content: left;
}

/*LED-Wall card specific styling*/
.LED-wall {
  background-image: url(/assets/images/surfreport.jpg);
}

.LED-wall span,
.LED-wall h3 {
  width: 115px;
}

/*Calculator specific styling*/
.calculator {
  background-image: url(/assets/images/surfreport.jpg);
}

.calculator span,
.calculator h3 {
  width: 165px;
}
/*Pastel Puzzel specific styling*/
.pastel-puzzels {
  background-image: url(/assets/images/surfreport.jpg);
}

.pastel-puzzels span,
.pastel-puzzels h3 {
  width: 180px;
}
/*Run-Buddy Specific Styling*/
.run-buddy {
  background-image: url(/assets/images/surfreport.jpg);
}

.run-buddy span,
.run-buddy h3 {
  width: 140px;
}
/*---------------
WORK SECTION ENDS
---------------*/
/*------------------------
CONTACT ME SECTION STYLING
------------------------*/
.contact-me {
  display: flex;
}

.contact-me h2 {
  text-align: right;
  margin-right: 5px;
  margin-left: 33px;
}
.contact-me ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin-right: 50px;
  margin-left: 10px;
  border-left: 3px solid rgb(55, 54, 105);
  padding-left: 20px;
}
.contact-me li {
  margin-top: 35px;
}
.contact-me a {
  color: rgb(55, 54, 105);
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 3px solid rgb(55, 54, 105);
}
/*---------------------
CONTACT ME SECTION ENDS
---------------------*/
/*-----------------------
MAIN SECTION STYLING ENDS
-----------------------*/
