/*---------------------------
GLOBAL/GENERIC STYLING STARTS
-----------------------------*/
* {
  margin: 0;
  padding: 0;
}

/*Set background color and Font-Family*/
body {
  background-color: azure;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/*-------------------------
GLOBAL/GENERIC STYLING ENDS
---------------------------*/

/*-------------------
HEADER STYLING BEGINS
-------------------*/
/*Header global styling*/
header {
  padding: 10px 5px 10px 0;
  background-color: rgb(40, 45, 45);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
}

/*Header title styling*/
header h1 {
  background-color: rgb(114, 219, 219);
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin-top: 10px;
}

/*Header nav button styling*/
header nav {
  margin: 7px 50px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header a {
  width: 100%;
  margin: 2px 20px 2px 20px;
  padding-bottom: 2px;
  font-size: 1.65vw;
  text-decoration: none;
  color: rgb(114, 219, 219);
  border-bottom: 3px solid rgb(114, 219, 219);
}

/*nav button hover styling*/
header a:hover {
  background-color: rgb(114, 219, 219);
}

/*-----------------
HEADER STYLING ENDS
-----------------*/

/*-----------------
HERO STYLING BEGINS
-----------------*/
/*Hero image styling*/
.hero {
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 0;
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
}

/*Hero subtitle styling*/
.hero h2 {
  background-color: rgb(114, 219, 219);
  justify-content: end;
  font-size: 30px;
  height: 35px;
  margin-left: 1190px;
  margin-top: 100px;
}
/*-----------------
HERO STYLING ENDS
-----------------*/
/*-------------------------
MAIN SECTION STYLING STARTS
-------------------------*/
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-text {
  color: rgb(55, 54, 105);
  display: flex;
  text-align: right;
  font-size: 45px;
}

/*---------------------
ABOUT ME SECTION STARTS
---------------------*/

.about-me {
  display: flex;
  margin-bottom: 20px;
}

.about-me h2 {
  text-align: right;
  margin-right: 5px;
  margin-left: 100px;
}
.about-me p {
  text-align: left;
  margin-left: 10px;
  border-left: 3px solid rgb(55, 54, 105);
  padding-left: 20px;
  margin-right: 60px;
}
/*-------------------
ABOUT ME SECTION ENDS
-------------------*/
/*-----------------
WORK SECTION STYLING
------------------*/
/*Work section title*/
.work {
  display: flex;
  margin-bottom: 20px;
}

.work h2 {
  margin-right: 5px;
  margin-left: 116px;
}

/*card position from work title*/
.cards {
  margin-left: 10px;
  border-left: 3px solid rgb(55, 54, 105);
  padding-left: 20px;
}

/*image fade*/
.cards img:hover {
  opacity: 0.5;
}
/*--------------------------
START OF LARGE CARD STYLING
--------------------------*/
/*large card global styling*/
.large-card {
  height: 565px;
  font-size: 22px;
  margin-bottom: 30px;
  display: flex;
  z-index: 9999;
}

/*large card image anchor styling*/
.large-card a {
  display: flex;
}

/*removal of anchor decoration*/
.large-card a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/*large card image styling*/
.large-card img {
  border: 4px solid rgb(114, 219, 219);
  width: 1190px;
  display: flex;
}

/*large card text styling*/
.large-card span,
.large-card h3 {
  background-color: rgb(114, 219, 219);
  color: rgb(55, 54, 105);
  text-align: left;
  width: 155px;
  padding-left: 20px;
  position: absolute;
}

.large-card span {
  margin-top: 498px;
  font-size: 25px;
  font-weight: bold;
}

.large-card h3 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 526px;
}

/*-----------------------
END OF LARGE CARD STYLING
-----------------------*/

/*-------------------------
START OF SMALL CARD STYLING
-------------------------*/
/*small card global styling*/
.small-cards {
  display: flex;
  flex-wrap: wrap;
  z-index: 9999;
}

/*removal of anchor decoration*/
.small-cards a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/*small card image styling*/
.small-cards img {
  border: 4px solid rgb(114, 219, 219);
  width: 576px;
  height: 200px;
  justify-content: space-evenly;
  display: flex;
}

.LED-wall img,
.pastel-puzzels img {
  margin-right: 15px;
  margin-bottom: 30px;
}

.calculator img,
.run-buddy img {
  margin-left: 15px;
}

/*small card text styling*/
.small-cards h3,
.small-cards span {
  background-color: rgb(114, 219, 219);
  color: rgb(55, 54, 105);
  text-align: left;
  position: absolute;
}

.small-cards span {
  font-size: 25px;
  font-weight: bold;
  margin-top: 140px;
}

.small-cards h3 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 168px;
}

.LED-wall h3,
.LED-wall span {
  width: 120px;
  padding-left: 20px;
}

.calculator h3,
.calculator span {
  width: 165px;
  margin-left: 18px;
  padding-left: 20px;
}

.pastel-puzzels h3,
.pastel-puzzels span {
  width: 185px;
  padding-left: 20px;
}

.run-buddy h3,
.run-buddy span {
  width: 145px;
  margin-left: 18px;
  padding-left: 20px;
}

/*-------------------------
END OF SMALL CARD STYLING
-------------------------*/
/*---------------
WORK SECTION ENDS
---------------*/

/*------------------------
CONTACT ME SECTION STYLING
------------------------*/
.contact-me {
  display: flex;
  text-align: right;
}

.contact-me h2 {
  margin-right: 5px;
  margin-left: 45px;
}

.contact-me ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin-right: 70px;
  margin-left: 10px;
  border-left: 3px solid rgb(55, 54, 105);
  padding-left: 20px;
}
.contact-me li {
  margin-top: 35px;
}
.contact-me a {
  color: rgb(55, 54, 105);
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 3px solid rgb(55, 54, 105);
}

.contact-me a:hover {
  background-color: rgb(55, 54, 105);
  color: white;
}
/*---------------------
CONTACT ME SECTION ENDS
---------------------*/
/*-----------------------
MAIN SECTION STYLING ENDS
-----------------------*/

/*-------------------
MEDIA QUERIES SECTION
-------------------*/
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  /*nav button relocation*/
  header {
    width: 100%;
  }

  header nav {
    margin-right: 20px;
    margin-top: 20px;
  }

  .hero {
    height: 120px;
  }

  .hero h2 {
    font-size: 25px;
    margin-left: 720px;
    margin-top: 75px;
  }

  .content-text {
    font-size: 36px;
  }

  .about-me p {
    margin-right: 35px;
  }

  .cards {
    margin-left: 7px;
  }

  /*large card placement and re-sizing*/
  .large-card img {
    width: 685px;
    height: 400px;
  }
  /*large card placement and re-sizing*/
  .large-card {
    height: max-content;
  }

  .large-card span {
    margin-top: 330px;
  }

  .large-card h3 {
    margin-top: 358px;
  }
  /*small card placement and re-sizing*/
  .small-cards img {
    width: 685px;
    margin-left: 0;
    justify-content: space-between;
  }

  .calculator img {
    margin-bottom: 30px;
  }

  .calculator span,
  .calculator h3,
  .run-buddy span,
  .run-buddy h3 {
    margin-left: 2px;
  }
  /*contact me section placement*/
  .contact-me h2 {
    margin-left: 69px;
  }

  .contact-me ul {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .contact-me li {
    padding: 0 10px 0 10px;
    margin-top: 10px;
  }
}

/*MEDIA QUERIES FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 40px;
  }

  header h1 {
    height: 35px;
    font-size: 30px;
  }

  header nav {
    margin-right: 15px;
    margin-top: 15px;
  }

  .hero h2 {
    margin-left: 520px;
  }

  .content {
    margin-left: -40px;
  }

  .content-text {
    font-size: 30px;
  }

  .large-card img {
    width: 540px;
    height: 300px;
  }

  .large-card h3 {
    margin-top: 270px;
  }

  .large-card span {
    margin-top: 242px;
  }

  /*small card re-styling and sizing*/

  .small-cards img {
    width: 540px;
    height: 150px;
  }

  .small-cards span {
    margin-top: 95px;
  }

  .small-cards h3 {
    margin-top: 124px;
  }
}

@media screen and (max-width: 575px) {
  header {
    width: 100%;
  }

  header h1 {
    height: 27px;
    font-size: 25px;
    width: 225px;
  }

  header a {
    font-size: 11px;
    margin-left: 0;
    margin-bottom: 5px;
  }

  .hero {
    height: 90px;
  }

  .hero h2 {
    font-size: 22px;
    margin-left: 345px;
    margin-top: 58px;
    height: 24px;
  }

  .content {
    margin-left: -45px;
  }

  .content-text {
    font-size: 25px;
  }

  .large-card img {
    width: 355px;
    height: 200px;
  }

  .large-card h3 {
    margin-top: 170px;
  }

  .large-card span {
    margin-top: 142px;
  }

  .small-cards img {
    width: 355px;
    height: 150px;
  }

  .small-cards h3 {
    margin-top: 122px;
  }

  .small-cards span {
    margin-top: 95px;
  }
}
